.loginForm {
    &__title {
        margin-bottom: 20px;
        font-weight: bold;
    }

    &__actions {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
    }
}