.login {
  height: inherit;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url("../../../assets/images/app-background.png") no-repeat;
  background-size: cover;

  &__body {
    max-width: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    margin-bottom: 20px;
  }

  &__logoImg {
    width: 250px;
  }
}