.textAreaField {
    position: relative;
    margin-bottom: 40px;

    &__errorText {
        left: 0;
        bottom: -20px;
        position: absolute;
        color: #d40000;
        font-size: 13px;
    }
}