.clientDashboard {
    &__header {
        display: flex;
        flex-direction: row;
        padding: 20px 40px;
    }

    &__title {
        flex: 1;
        font-size: 25px;
        font-weight: bold;
    }

    &__body {
        padding: 0 40px 20px;
    }

    &__section {
        margin-bottom: 40px;
    }
}